<%= render "shared/second-header"%>

<%= form_with model: @user, url: user_path(params[:id]), method: :patch, class: 'registration-main', id: "avatar_image_preview", local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      プロフィール編集
    </h1>
  </div>

  <%= render 'shared/error_messages', model: f.object %>
  <div class="avatar-field">
    <div id="previews", class="previews" ></div>
    <div class="avatar-label">
      <%= f.label :プロフィール画像 %>
      <%= f.file_field :avatar, name: 'user-avatar', data: {index: 0} %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
      <span class="indispensable">必須</span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) furima太郎", maxlength:"40" %>
  </div>
  <div class="form-group"> </div>
  <div class='profile-btn'>
    <%= f.submit "プロフィールを修正する" ,class:"profile-submit-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>
